<ion-item>
  <ion-avatar style="width:50px;height:50px;margin:10px;margin-right:20px">
    <img *ngIf="!task.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    <img *ngIf="task.picture" alt="Person picture" [src]="task.picture" />
  </ion-avatar>
  <ion-label>{{task.name}}</ion-label>
  <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="create-outline" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="trash-outline" ></ion-icon></ion-button>
</ion-item>