<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-home *ngIf="folder=='Home'"></app-home>
  <app-people *ngIf="folder=='People'"></app-people>
  <app-tasks *ngIf="folder=='Tasks'"></app-tasks>
  <app-assignments *ngIf="folder=='Assignments'"></app-assignments>
  <app-schedule *ngIf="folder=='Task Panel'"></app-schedule>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
