
<ion-grid class="login">
  <ion-row>
    <ion-col>
      <form [formGroup]="form" (ngSubmit)="onSignIn()">
        <h1>{{'login.title' | translate}}</h1>
        <div class="form-button right">
          <ion-button (click)="register()" color="primary" fill="clear">
            <small>{{'register.register' | translate}}</small>
          </ion-button>
        </div> 
        
        <ion-list>
          <ion-item>
            <ion-label position="stacked">
              {{'login.email' | translate}}
            </ion-label>
            <ion-input [enterkeyhint]="'next'" autocomplete="email" type="text" formControlName="identifier"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              {{'login.password' | translate}}
            </ion-label>
            <ion-input (keyup.enter)="form.valid?onSignIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list> 
        <div class="form-button right">
          <ion-button [disabled]="!form.valid" (click)="onSignIn()">{{'login.send' | translate}}</ion-button>
        </div>
      </form>    
    </ion-col>
  </ion-row>
</ion-grid>