<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img [src]="form.controls.picture.value"></ion-img>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Nombre
      </ion-label>
      <ion-input type="text" placeholder="Introduce el nombre de la tarea" formControlName="name"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>