<ion-item>
  <ion-avatar class="task minimized">
    <img *ngIf="!(getTask() | async)?.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
    <img *ngIf="(getTask() | async)?.picture" alt="Person picture" [src]="(getTask() | async).picture" />
  </ion-avatar>
  <ion-icon name="link-outline"></ion-icon>
  <ion-avatar class="person minimized">
    <img *ngIf="!(getPerson() | async)?.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    <img *ngIf="(getPerson() | async)?.picture" alt="Person picture" [src]="(getPerson() | async).picture" />
  </ion-avatar>
  <ion-label class="ion-text-center ion-text-wrap">{{assignment.dateTime | date:'short':undefined:locale.locale}}</ion-label>
  
</ion-item>

 