<ion-header>
  <ion-toolbar>
    <ion-title>{{'person-detail.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'modal.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img (click)="changePic(fileLoader)" *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
  <ion-img (click)="changePic(fileLoader)" *ngIf="!currentImage.value" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'person-detail.name' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'person-detail.name-placeholder' | translate}}" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'person-detail.surname' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'person-detail.surname-placeholder' | translate}}" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'person-detail.nickname' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'person-detail.nickname' | translate}}" formControlName="nickname"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('modal.edit' | translate):('modal.new' | translate)}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>