<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedPerson!=null">
        <ion-avatar class="person">
          <img *ngIf="!selectedPerson?.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <img *ngIf="selectedPerson?.picture" alt="Person picture" [src]="selectedPerson?.picture" />
        </ion-avatar>
        <ion-label>{{selectedPerson?.surname}}, {{selectedPerson?.name}}</ion-label>
      </ng-container>
      <ion-label *ngIf="!selectedPerson">Selecciona una persona</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item *ngFor="let person of getPeople()" button detail  (click)="onPersonClicked(person, accordion)">
          <ion-avatar class="person">
            <img *ngIf="!person.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="person.picture" alt="Person picture" [src]="person.picture" />
          </ion-avatar>
          <ion-label>{{person.surname}}, {{person.name}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>