form.register{
    margin:20px;
    .form-button{
        width:100%;
        display:flex;
        padding-top:10px;
    }
    .form-button.left{
        justify-content: flex-start;
    }
    .form-button.right{
        justify-content: flex-end;
    }
}
