/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-button.item-expanded{
    height:100%;
    margin-inline-start:0;
    div.vertical{
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        ion-icon{
            margin:5px;
            zoom:1.5;
        }
    }
    div.horizontal{
        height:100%;
        display:flex;
        align-items:center;
        justify-content: center;
        ion-icon{
            margin:5px;
            zoom:1.5;
        }
    }
}

ion-avatar.task{
    min-width:75px;
    min-height:75px;
    margin:10px;
}
.minimized{
    min-width: unset!important;
    min-height: unset!important;
}

ion-avatar.person{
    min-width:50px;
    min-height:50px;
    margin:10px;
    margin-right:20px
}

.modal-full-right-side{
    display:flex;
    --height:100%;
    justify-content: flex-end;
    --max-width:350px;
}
.fc .fc-timegrid-slot {
    height: 65px !important; 
    border-bottom: 0;
}