<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la persona</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item-divider>
      <ion-label>
       Persona que la realiza
      </ion-label>
    </ion-item-divider>
    <app-task-selectable formControlName="taskId"></app-task-selectable>
    <ion-item-divider>
      <ion-label>
        Tarea a realizar
      </ion-label>
    </ion-item-divider>
    <app-person-selectable formControlName="personId"></app-person-selectable>
    <ion-item-divider>
      <ion-label>
       Fecha y hora
      </ion-label>
    </ion-item-divider>
    <app-date-time-selectable formControlName="dateTime"></app-date-time-selectable>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>