<ion-item-sliding #sliding [disabled]="!isLowResolution()">
  <ion-item>
    <ion-avatar class="task">
      <img *ngIf="!task.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      <img *ngIf="task.picture" alt="Person picture" [src]="task.picture" />
    </ion-avatar>
    <ion-label>{{task.name}}</ion-label>
    <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onEditClick(sliding)">
      <div class="vertical">
        <ion-icon name="create" ></ion-icon>
        {{'modal.edit' | translate | uppercase}}
      </div>
    </ion-button>
    <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" color="danger" (click)="onDeleteClick(sliding)">
      <div class="vertical">
        <ion-icon name="trash" ></ion-icon>
        {{'modal.delete' | translate | uppercase}}
      </div>
    </ion-button>
  </ion-item>

  <ion-item-options>
    <ion-item-option (click)="onEditClick(sliding)">
      <ion-icon slot="top" name="create" ></ion-icon>
      {{'modal.edit' | translate | uppercase}}
    </ion-item-option>
    <ion-item-option (click)="onDeleteClick(sliding)" color="danger">
      <ion-icon slot="top" name="trash" ></ion-icon>
      {{'modal.delete' | translate | uppercase}}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>